<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pl.danowski.rafal.homelibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".activities.MainMenuActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.BooksActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.LoginActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.RegisterActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.LoginActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.ProfileActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.RoomsActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.MainMenuActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.AddEditRoomActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.RoomsActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.EditBookActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" />
        <activity android:name=".activities.AddGBABookActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:parentActivityName=".activities.BooksActivity"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>